#define  USE_FULL_LL_DRIVER
#define  TARGET_RTOS_M4_M7
#define  TARGET_STM32F7
#define  DEVICE_EMAC 1
#define  DEVICE_SERIAL_FC 1
#define  DEVICE_SLEEP 1
#define  DEVICE_USBDEVICE 1
#define  DEVICE_TRNG 1
#define  TARGET_LIKE_MBED
#define  TOOLCHAIN_GCC
#define  __CORTEX_M7
#define  TARGET_DISCO_F746NG
#define  TARGET_MCU_STM32
#define  __CMSIS_RTOS
#define  MBED_BUILD_TIMESTAMP 1599189084.0931253
#define  USE_HAL_DRIVER
#define  TARGET_STM32F746xG
#define  DEVICE_STDIO_MESSAGES 1
#define  DEVICE_QSPI 1
#define  TARGET_STM
#define  DEVICE_ANALOGIN 1
#define  TRANSACTION_QUEUE_SIZE_SPI 2
#define  TARGET_NAME DISCO_F746NG
#define  DEVICE_ANALOGOUT 1
#define  COMPONENT_FLASHIAP 1
#define  TOOLCHAIN_GCC_ARM
#define  DEVICE_SERIAL_ASYNCH 1
#define  TARGET_N25Q128A
#define  DEVICE_PORTINOUT 1
#define  ARM_MATH_CM7
#define  DEVICE_WATCHDOG 1
#define  TARGET_CORTEX_M
#define  DEVICE_CAN 1
#define  HSE_VALUE 25000000
#define  DEVICE_I2CSLAVE 1
#define  TARGET_RELEASE
#define  STM32F746xx
#define  DEVICE_SPI 1
#define  TARGET_M7
#define  DEVICE_PWMOUT 1
#define  EXTRA_IDLE_STACK_REQUIRED
#define  DEVICE_INTERRUPTIN 1
#define  DEVICE_I2C 1
#define  DEVICE_RESET_REASON 1
#define  __MBED_CMSIS_RTOS_CM
#define  DEVICE_MPU 1
#define  __MBED__ 1
#define  DEVICE_FLASH 1
#define  DEVICE_I2C_ASYNCH 1
#define  DEVICE_SPI_ASYNCH 1
#define  DEVICE_PORTIN 1
#define  DEVICE_SPISLAVE 1
#define  COMPONENT_QSPIF 1
#define  TARGET_CORTEX
#define  DEVICE_USTICKER 1
#define  DEVICE_RTC 1
#define  DEVICE_SERIAL 1
#define  TARGET_FF_ARDUINO
#define  TARGET_LIKE_CORTEX_M7
#define  DEVICE_LPTICKER 1
#define  __FPU_PRESENT 1
#define  DEVICE_CRC 1
#define  MBED_TICKLESS
#define  TARGET_MCU_STM32F7
#define  DEVICE_PORTOUT 1
#define  USE_FULL_LL_DRIVER
#define  TARGET_RTOS_M4_M7
#define  TARGET_STM32F7
#define  DEVICE_EMAC 1
#define  DEVICE_SERIAL_FC 1
#define  DEVICE_SLEEP 1
#define  DEVICE_USBDEVICE 1
#define  DEVICE_TRNG 1
#define  TARGET_LIKE_MBED
#define  TOOLCHAIN_GCC
#define  __CORTEX_M7
#define  TARGET_DISCO_F746NG
#define  TARGET_MCU_STM32
#define  __CMSIS_RTOS
#define  MBED_BUILD_TIMESTAMP 1599189084.0931253
#define  USE_HAL_DRIVER
#define  TARGET_STM32F746xG
#define  DEVICE_STDIO_MESSAGES 1
#define  DEVICE_QSPI 1
#define  TARGET_STM
#define  DEVICE_ANALOGIN 1
#define  TRANSACTION_QUEUE_SIZE_SPI 2
#define  TARGET_NAME DISCO_F746NG
#define  DEVICE_ANALOGOUT 1
#define  COMPONENT_FLASHIAP 1
#define  TOOLCHAIN_GCC_ARM
#define  DEVICE_SERIAL_ASYNCH 1
#define  TARGET_N25Q128A
#define  DEVICE_PORTINOUT 1
#define  ARM_MATH_CM7
#define  DEVICE_WATCHDOG 1
#define  TARGET_CORTEX_M
#define  DEVICE_CAN 1
#define  HSE_VALUE 25000000
#define  DEVICE_I2CSLAVE 1
#define  TARGET_RELEASE
#define  STM32F746xx
#define  DEVICE_SPI 1
#define  TARGET_M7
#define  DEVICE_PWMOUT 1
#define  EXTRA_IDLE_STACK_REQUIRED
#define  DEVICE_INTERRUPTIN 1
#define  DEVICE_I2C 1
#define  DEVICE_RESET_REASON 1
#define  __MBED_CMSIS_RTOS_CM
#define  DEVICE_MPU 1
#define  __MBED__ 1
#define  DEVICE_FLASH 1
#define  DEVICE_I2C_ASYNCH 1
#define  DEVICE_SPI_ASYNCH 1
#define  DEVICE_PORTIN 1
#define  DEVICE_SPISLAVE 1
#define  COMPONENT_QSPIF 1
#define  TARGET_CORTEX
#define  DEVICE_USTICKER 1
#define  DEVICE_RTC 1
#define  DEVICE_SERIAL 1
#define  TARGET_FF_ARDUINO
#define  TARGET_LIKE_CORTEX_M7
#define  DEVICE_LPTICKER 1
#define  __FPU_PRESENT 1
#define  DEVICE_CRC 1
#define  MBED_TICKLESS
#define  TARGET_MCU_STM32F7
#define  DEVICE_PORTOUT 1

#include "mbed_config.h"
#include "mbed_config.h"
#include "mbed_config.h"
#include "mbed_config.h"
